# Quinta Actividad: Cargando archivo CSV: 

- **Data source**: [Cantidad de ambulancias, camas y salas (consideradas trazadoras) por departamento, año y naturaleza jurídica para servicios habilitados](https://www.datos.gov.co/Salud-y-Protecci-n-Social/Cantidad-de-ambulancias-camas-y-salas-consideradas/fa2g-cdft/about_data)
- **Introducción**: Seleccioné este dataset para desarrollar mi proyecto, trataré de analizar una problemática como lo es el la cantidad de salas y camas disponibles en hospitales, así como practicar los conocimientos adquiridos en clase, sobre la creación de gráficos.
- **Objetivo principal**: El objetivo principal de esta entrega es crear instancia de conexión a una base de datos de PostgreSQL y dejar evidencia de las consultas.

# 0. Librerias

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from sqlalchemy import create_engine
from sqlalchemy import text
import psycopg2
from dotenv import load_dotenv
import os
ruta = os.getcwd()

# 1. Conection to the DataBase

In [ ]:
# Cargar las variables de entorno desde el archivo .env
load_dotenv()

# Obtener las variables de entorno
db_host = os.getenv('DB_HOST')
db_name = os.getenv('DB_NAME')
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')
db_port = os.getenv('DB_PORT')


# Conexión a la base de datos
engine= create_engine(f"postgresql://{db_user}:{db_password}@localhost:{db_port}/{db_name}")
print(engine)
def runQuery(sql):
    result = engine.connect().execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

Engine(postgresql://postgres:***@localhost:5432/Actividad_5_BIT)

# 2. Data Extraction and Loading

In [ ]:
#Se lee el archivo CSV
df = pd.read_csv(os.path.join(ruta, 'Cantidad_de_ambulancias__camas_y_salas__consideradas_trazadoras__por_departamento__a_o_y_naturaleza_jur_dica_para_servicios_habilitados_20240805.csv'))
#Se envía el DataFrame a postgres y se crea la tabla automáticamente
df.to_sql('TEST', engine, if_exists='replace', index=False)

378

# 3. Data loading

In [ ]:
#Función para consultar en el DB y se imprima el resultado en python
def runQuery (sql):
    result = engine.connect().execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

In [ ]:
#Imprimir toda la tabla del DB
query = '''
SELECT * FROM public."TEST"
'''
runQuery(query)

,Departamento,Año,Naturaleza jurídica,AMBULANCIAS Básica,AMBULANCIAS Medicalizada,CAMAS Adultos,CAMAS Cuidado Agudo Mental,CAMAS Cuidado Intensivo Adulto,CAMAS Cuidado Intensivo Neonatal,CAMAS Cuidado Intensivo Pediátrico,...,CAMAS Cuidado Intermedio Neonatal,CAMAS Cuidado Intermedio Pediátrico,CAMAS Farmacodependencia,CAMAS Obstetricia,CAMAS Pediátrica,CAMAS Psiquiatría,CAMAS Unidad de Quemados Adulto,CAMAS Unidad de Quemados Pediátrico,SALAS Partos,SALAS Quirófano
0,Amazonas,2017.0,Privada,0,0,41,0,0,0,0,...,0,0,0,2,7,0,0,0,0,1
1,Amazonas,2017.0,Pública,3,0,27,0,0,0,0,...,0,3,0,21,28,0,0,0,4,2
2,Amazonas,2018.0,Privada,0,0,41,0,0,0,0,...,0,0,30,2,7,0,0,0,0,1
3,Amazonas,2018.0,Pública,3,0,27,0,0,0,0,...,0,3,0,21,28,0,0,0,8,2
4,Amazonas,2019.0,Privada,0,0,41,0,0,0,0,...,0,0,30,2,7,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,Valle del cauca,2022.0,Pública,133,9,491,0,45,0,0,...,0,0,0,0,168,0,0,0,44,0
374,Vaupés,2022.0,Privada,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
375,Vaupés,2022.0,Pública,2,0,14,0,0,0,0,...,0,0,0,1,8,0,0,0,3,0
376,Vichada,2022.0,Privada,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
377,Vichada,2022.0,Pública,10,0,39,0,0,0,0,...,0,0,0,0,24,0,0,0,5,0

# 4. Queries

In [94]:
#Encontrar el promedio de ambulancias
query_0 = '''
SELECT 
    "Departamento",
    "Año",
    ROUND(AVG(a."AMBULANCIAS Básica"), 2) AS Prom_Ambulancias_Basicas,
    ROUND(AVG(a."AMBULANCIAS Medicalizada"), 2) AS Prom_Ambulancias_Medicalizadas,
    ROUND((AVG(a."AMBULANCIAS Básica") + AVG(a."AMBULANCIAS Medicalizada"))/2, 2) AS Promedio_Ambulancias
FROM public."TEST" a
GROUP BY 1, 2;
'''
runQuery(query_0)

,Departamento,Año,prom_ambulancias_basicas,prom_ambulancias_medicalizadas,promedio_ambulancias
0,Huila,2019.0,70.00,19.50,44.75
1,Guaviare,2020.0,5.00,4.00,4.50
2,Córdoba,2017.0,56.50,17.50,37.00
3,Bogotá D.C,2017.0,230.00,107.00,168.50
4,Valle del cauca,2022.0,90.33,16.67,53.50
...,...,...,...,...,...
166,La Guajira,2022.0,32.00,32.50,32.25
167,La Guajira,2018.0,29.00,23.00,26.00
168,Barranquilla,2022.0,31.00,15.67,23.33
169,Tolima,2019.0,104.00,24.00,64.00
170,La Guajira,2017.0,23.00,15.00,19.00

In [97]:
#Encontrar el promedio de camas adultos
query_1 = '''
SELECT 
  a."Departamento",
  a."Año",
  SUM(a."CAMAS Adultos" + a."CAMAS Unidad de Quemados Adulto" + a."CAMAS Cuidado Intensivo Adulto") AS Total_Camas_Adulto,
  ROUND((AVG(a."CAMAS Adultos") + AVG(a."CAMAS Unidad de Quemados Adulto") + AVG(a."CAMAS Cuidado Intensivo Adulto"))/3, 2) AS Promedio_Camas_Adulto
FROM public."TEST" a
GROUP BY 1, 2;  
'''
runQuery(query_1)

        Departamento     Año total_camas_adulto promedio_camas_adulto
0              Huila  2019.0               1018                169.67
1           Guaviare  2020.0                 64                 10.67
2            Córdoba  2017.0               1202                200.33
3         Bogotá D.C  2017.0               7931               1321.83
4    Valle del cauca  2022.0               1267                140.78
..               ...     ...                ...                   ...
166       La Guajira  2022.0                602                100.33
167       La Guajira  2018.0                561                 93.50
168     Barranquilla  2022.0               2355                261.67
169           Tolima  2019.0               1334                222.33
170       La Guajira  2017.0                494                 82.33

[171 rows x 4 columns]

In [98]:
#Encontrar el promedio de camas cuidado neonatal
query_2 = '''
SELECT 
  a."Departamento",
  a."Año",
  SUM(a."CAMAS Cuidado Intensivo Neonatal" + a."CAMAS Cuidado Intermedio Neonatal") AS Total_Camas_neonatal,
  ROUND((AVG(a."CAMAS Cuidado Intensivo Neonatal") + AVG(a."CAMAS Cuidado Intermedio Neonatal"))/2, 2) AS Promedio_Camas_Neonatal
FROM public."TEST" a
GROUP BY 1, 2;  
'''
runQuery(query_2)

        Departamento     Año total_camas_neonatal promedio_camas_neonatal
0              Huila  2019.0                   88                   22.00
1           Guaviare  2020.0                    0                    0.00
2            Córdoba  2017.0                  242                   60.50
3         Bogotá D.C  2017.0                  783                  195.75
4    Valle del cauca  2022.0                    0                    0.00
..               ...     ...                  ...                     ...
166       La Guajira  2022.0                    2                    0.50
167       La Guajira  2018.0                  108                   27.00
168     Barranquilla  2022.0                   92                   15.33
169           Tolima  2019.0                   67                   16.75
170       La Guajira  2017.0                  111                   27.75

[171 rows x 4 columns]

In [99]:
#Encontrar el promedio de camas cuidado pediátrico
query_3 = '''
SELECT 
  a."Departamento",
  a."Año",
  SUM(a."CAMAS Cuidado Intensivo Pediátrico" + a."CAMAS Cuidado Intermedio Pediátrico" + a."CAMAS Pediátrica" + a."CAMAS Unidad de Quemados Pediátrico") AS Total_Camas_Pediatria,
  ROUND((AVG(a."CAMAS Cuidado Intensivo Pediátrico") + AVG(a."CAMAS Cuidado Intermedio Pediátrico") + AVG(a."CAMAS Pediátrica") + AVG(a."CAMAS Unidad de Quemados Pediátrico"))/4, 2) AS Promedio_Camas_Pediatra
FROM public."TEST" a
GROUP BY 1, 2;  
'''
runQuery(query_3)

        Departamento     Año total_camas_pediatria promedio_camas_pediatra
0              Huila  2019.0                   261                   32.63
1           Guaviare  2020.0                    28                    3.50
2            Córdoba  2017.0                   508                   63.50
3         Bogotá D.C  2017.0                  2167                  270.88
4    Valle del cauca  2022.0                   217                   18.08
..               ...     ...                   ...                     ...
166       La Guajira  2022.0                   261                   32.63
167       La Guajira  2018.0                   328                   41.00
168     Barranquilla  2022.0                   402                   33.50
169           Tolima  2019.0                   255                   31.88
170       La Guajira  2017.0                   293                   36.63

[171 rows x 4 columns]

In [100]:
#Encontrar promedio de salas de quemados
query_4 = '''
SELECT 
  a."Departamento",
  a."Año",
  ROUND(AVG(a."CAMAS Unidad de Quemados Adulto"), 2) AS Promedio_Quemados_Adultos,
  ROUND(AVG(a."CAMAS Unidad de Quemados Pediátrico"), 2) AS Promedio_Quemados_Pediatrico,
  SUM(a."CAMAS Unidad de Quemados Adulto" + a."CAMAS Unidad de Quemados Pediátrico") AS Total_Camas_Quemados,
  ROUND((AVG(a."CAMAS Unidad de Quemados Adulto") + AVG(a."CAMAS Unidad de Quemados Pediátrico")) / 2, 2) AS Promedio_Camas_Quemados
FROM public."TEST" a
GROUP BY 1, 2;  
'''
runQuery(query_4)

,Departamento,Año,promedio_quemados_adultos,promedio_quemados_pediatrico,total_camas_quemados,promedio_camas_quemados
0,Huila,2019.0,0.00,0.00,0,0.00
1,Guaviare,2020.0,0.00,0.00,0,0.00
2,Córdoba,2017.0,6.00,0.00,12,3.00
3,Bogotá D.C,2017.0,21.50,13.00,69,17.25
4,Valle del cauca,2022.0,0.00,0.00,0,0.00
...,...,...,...,...,...,...
166,La Guajira,2022.0,0.00,0.00,0,0.00
167,La Guajira,2018.0,0.00,0.00,0,0.00
168,Barranquilla,2022.0,0.67,0.67,4,0.67
169,Tolima,2019.0,0.00,0.00,0,0.00
170,La Guajira,2017.0,0.00,0.00,0,0.00

In [101]:
#Encontrar promedio de salas cuidado mental
query_5 = '''
SELECT 
  a."Departamento",
  a."Año",
  ROUND(AVG(a."CAMAS Psiquiatría"), 2) AS Promedio_Camas_Psiquiatria,
  ROUND(AVG(a."CAMAS Cuidado Agudo Mental"), 2) AS Promedio_Agudo_Mental,
  SUM(a."CAMAS Psiquiatría" + a."CAMAS Cuidado Agudo Mental") AS Total_Camas_Mental,
  ROUND((AVG(a."CAMAS Psiquiatría") + AVG(a."CAMAS Cuidado Agudo Mental")) / 2, 2) AS Promedio_Camas_Mental
FROM public."TEST" a
GROUP BY 1, 2;  
'''
runQuery(query_5)

,Departamento,Año,promedio_camas_psiquiatria,promedio_agudo_mental,total_camas_mental,promedio_camas_mental
0,Huila,2019.0,16.00,0.00,32,8.00
1,Guaviare,2020.0,0.00,0.00,0,0.00
2,Córdoba,2017.0,112.00,27.00,278,69.50
3,Bogotá D.C,2017.0,648.50,26.00,1349,337.25
4,Valle del cauca,2022.0,0.00,0.00,0,0.00
...,...,...,...,...,...,...
166,La Guajira,2022.0,0.00,0.00,0,0.00
167,La Guajira,2018.0,52.50,0.00,105,26.25
168,Barranquilla,2022.0,10.00,0.00,30,5.00
169,Tolima,2019.0,68.50,0.00,137,34.25
170,La Guajira,2017.0,64.00,0.00,128,32.00

In [123]:
#Cantidad de tipos de hospitales
query_6 = '''
SELECT 
  a."Departamento",
  a."Año",
  COUNT(*) FILTER (WHERE a."Naturaleza jurídica" = 'Privada') AS Total_Privadas,
  COUNT(*) FILTER (WHERE a."Naturaleza jurídica" = 'Pública') AS Total_Publicas,
  COUNT(*) FILTER (WHERE a."Naturaleza jurídica" NOT IN ('Privada', 'Pública')) AS Total_Mixta,
  ROUND(AVG(COUNT(*) FILTER (WHERE a."Naturaleza jurídica" = 'Privada')) OVER (), 2) AS Promedio_Privadas,
  ROUND(AVG(COUNT(*) FILTER (WHERE a."Naturaleza jurídica" = 'Pública')) OVER (), 2) AS Promedio_Publica,
  ROUND(AVG(COUNT(*) FILTER (WHERE a."Naturaleza jurídica" = 'Mixta')) OVER (), 2) AS Promedio_Mixta
FROM public."TEST" a
GROUP BY 1, 2;  
'''
runQuery(query_6)

,Departamento,Año,total_privadas,total_publicas,total_mixta,promedio_privadas,promedio_publica,promedio_mixta
0,Huila,2019.0,1,1,0,0.96,0.95,0.29
1,Guaviare,2020.0,1,1,0,0.96,0.95,0.29
2,Córdoba,2017.0,1,1,0,0.96,0.95,0.29
3,Bogotá D.C,2017.0,1,1,0,0.96,0.95,0.29
4,Valle del cauca,2022.0,1,1,1,0.96,0.95,0.29
...,...,...,...,...,...,...,...,...
166,La Guajira,2022.0,1,1,0,0.96,0.95,0.29
167,La Guajira,2018.0,1,1,0,0.96,0.95,0.29
168,Barranquilla,2022.0,1,1,1,0.96,0.95,0.29
169,Tolima,2019.0,1,1,0,0.96,0.95,0.29
170,La Guajira,2017.0,1,1,0,0.96,0.95,0.29

In [124]:
#Encontrar promedios de Salas
query_7 = '''
SELECT 
  a."Departamento",
  a."Año",
  ROUND(AVG(a."SALAS Quirófano"), 2) AS Promedio_Salas_Quirofano,
  ROUND(AVG(a."SALAS Partos"), 2) AS Promedio_Salas_Partos
FROM public."TEST" a
GROUP BY 1, 2;  
'''
runQuery(query_7)

        Departamento     Año promedio_salas_quirofano promedio_salas_partos
0              Huila  2019.0                    29.00                 23.00
1           Guaviare  2020.0                     1.00                  2.00
2            Córdoba  2017.0                    39.00                 20.50
3         Bogotá D.C  2017.0                   328.50                 32.00
4    Valle del cauca  2022.0                     2.67                 17.00
..               ...     ...                      ...                   ...
166       La Guajira  2022.0                     0.00                 15.50
167       La Guajira  2018.0                    20.00                 15.00
168     Barranquilla  2022.0                    16.33                 10.00
169           Tolima  2019.0                    34.50                 27.00
170       La Guajira  2017.0                    19.00                 15.00

[171 rows x 4 columns]

In [126]:
#Encontrar promedio Obstetricia 
query_8 = '''
SELECT 
  a."Departamento",
  a."Año",
  ROUND(AVG(a."CAMAS Obstetricia"), 2) AS Promedio_Camas_Obstetricia
FROM public."TEST" a
GROUP BY 1, 2;  
'''
runQuery(query_8)

        Departamento     Año promedio_camas_obstetricia
0              Huila  2019.0                      93.00
1           Guaviare  2020.0                       7.00
2            Córdoba  2017.0                     161.50
3         Bogotá D.C  2017.0                     447.00
4    Valle del cauca  2022.0                       3.33
..               ...     ...                        ...
166       La Guajira  2022.0                       4.00
167       La Guajira  2018.0                      81.00
168     Barranquilla  2022.0                      37.33
169           Tolima  2019.0                      96.00
170       La Guajira  2017.0                      72.00

[171 rows x 3 columns]

In [128]:
#Encontrar promedio farmacodependencia 
query_8 = '''
SELECT 
  a."Departamento",
  a."Año",
  ROUND(AVG(a."CAMAS Farmacodependencia"), 2) AS Promedio_Camas_Farmacodependencia
FROM public."TEST" a
GROUP BY 1, 2;  
'''
runQuery(query_8)

        Departamento     Año promedio_camas_farmacodependencia
0              Huila  2019.0                              0.00
1           Guaviare  2020.0                              0.00
2            Córdoba  2017.0                             19.50
3         Bogotá D.C  2017.0                             62.00
4    Valle del cauca  2022.0                              0.00
..               ...     ...                               ...
166       La Guajira  2022.0                             20.00
167       La Guajira  2018.0                             42.50
168     Barranquilla  2022.0                             13.33
169           Tolima  2019.0                             15.00
170       La Guajira  2017.0                              8.50

[171 rows x 3 columns]